:root {
  --body-bg: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  --header-border: hsl(217, 16%, 45%);
  --score-text: hsl(229, 64%, 46%);
  --score-value: hsl(229, 25%, 31%);
  --paper-light: hsl(230, 89%, 65%);
  --paper-dark: hsl(230, 89%, 62%);
  --scissors-light: hsl(40, 84%, 53%);
  --scissors-dark: hsl(39, 89%, 49%);
  --rock-light: hsl(349, 70%, 56%);
  --rock-dark: hsl(349, 71%, 52%);
  --radius-big: 1.2rem;
  --radius-small: 0.7rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
  background-image: var(--body-bg);
  height: 100vh;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

body.overlay::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  animation: resetOpacity 1.5s forwards;
}

.header {
  width: 60rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 4.8rem 0 3.2rem;
  padding: 2rem;
  border: 2px solid var(--header-border);
  border-radius: var(--radius-big);
}

.score-container {
  padding: 1.6rem 4.4rem 0;
  height: 100%;
  background-color: #fff;
  border-radius: var(--radius-small);
  text-align: center;
}

.score-text {
  color: var(--score-text);
  opacity: 0.9;
}

.score {
  color: var(--score-value);
  font-size: 5rem;
  font-weight: 700;
  opacity: 0.9;
}

.game-container {
  width: 500px;
  height: 25rem;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  background-image: url(images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-x: 50%;
  position: relative;
}

.part {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 12.8rem;
  height: 12.8rem;
  border-radius: 50%;
  position: absolute;
  transition: 1s;
}

.part::before {
  content: '';
  width: calc(100% + 3.2rem);
  height: calc(100% + 3.2rem);
  position: absolute;
  left: -1.6rem;
  top: -1.7rem;
  border-radius: 50%;
}

.paper-container {
  left: 15%;
  top: 0;
  transform: translateY(-50%);
  box-shadow: inset 0 6px rgb(0 0 0 / 20%), 0 0 0 1.6rem var(--paper-light);
}
.paper-container.won {
  box-shadow: inset 0 6px rgb(0 0 0 / 20%), 0 0 0 1.6rem var(--paper-light),
    0 0.5rem 0 6.6rem rgba(255, 255, 255, 0.03),
    0 0.5rem 0 10.6rem rgba(255, 255, 255, 0.03),
    0 0.5rem 0 14.6rem rgba(255, 255, 255, 0.03);
}
.paper-container::before {
  box-shadow: 0 8px var(--paper-dark);
}

.scissors-container {
  right: 15%;
  top: 0;
  transform: translateY(-50%);
  box-shadow: inset 0 6px rgb(0 0 0 / 20%), 0 0 0 1.6rem var(--scissors-light);
}
.scissors-container.won {
  box-shadow: inset 0 6px rgb(0 0 0 / 20%), 0 0 0 1.6rem var(--scissors-light),
    0 0.5rem 0 6.6rem rgba(255, 255, 255, 0.03),
    0 0.5rem 0 10.6rem rgba(255, 255, 255, 0.03),
    0 0.5rem 0 14.6rem rgba(255, 255, 255, 0.03);
}
.scissors-container::before {
  box-shadow: 0 8px var(--scissors-dark);
}

.rock-container {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 6px rgb(0 0 0 / 20%), 0 0 0 1.6rem var(--rock-light);
}
.rock-container.won {
  box-shadow: inset 0 6px rgb(0 0 0 / 20%), 0 0 0 1.6rem var(--rock-light),
    0 0.5rem 0 6.6rem rgba(255, 255, 255, 0.03),
    0 0.5rem 0 10.6rem rgba(255, 255, 255, 0.03),
    0 0.5rem 0 14.6rem rgba(255, 255, 255, 0.03);
}
.rock-container::before {
  box-shadow: 0 8px var(--rock-dark);
}

.btn {
  background: none;
  border: none;
  font-family: inherit;
  text-transform: inherit;
  cursor: pointer;
}

.rules {
  padding: 0.8rem 2.8rem;
  position: absolute;
  right: 3.2rem;
  bottom: 3.2rem;
  color: inherit;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 600;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: var(--radius-small);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2.4rem;
  border-radius: var(--radius-big);
  z-index: 1000;
  opacity: 0;
  animation: resetOpacity 1.5s forwards;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.6rem;
}

.modal-title {
  color: var(--score-value);
}

.modal-content {
  text-align: center;
}

.modal-img {
  width: 90%;
}

.part.user-picked {
  left: 15%;
  top: 50%;
  transform: translateY(-100%);
  z-index: 2;
}
.scissors-container.user-picked {
  left: unset;
  right: 85%;
  transform: translate(100%, -100%);
}
.part.user-picked::after,
.part.com-picked::after {
  position: absolute;
  top: -6.4rem;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 3px;
}
.part.user-picked::after {
  content: 'YOU PICKED';
  width: fit-content;
}
.part.com-picked::after {
  content: 'THE HOUSE PICKED';
  width: 17rem;
}

.part.com-picked {
  left: 85%;
  top: 50%;
  transform: translate(-100%, -100%);
  background-color: hsl(237, 49%, 15%);
  animation: pulse 1s linear 3;
}
.scissors-container.com-picked {
  right: 15%;
}

.over .user-picked {
  left: -10%;
}
.over .scissors-container.user-picked {
  left: unset;
  right: 110%;
}

.over .com-picked {
  left: 110%;
}

.game-results {
  position: absolute;
  top: 6.4rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  opacity: 0;
  animation: resetOpacity ease-in 1s forwards;
}
.results-text {
  font-size: 3.6rem;
  letter-spacing: 2px;
}
.btn--white {
  background-color: #fff;
  padding: 1rem 4.8rem;
  border-radius: 10px;
}

@media (max-width: 48em) {
  body {
    height: 130vh;
  }
  body.overlay::before {
    height: 130vh;
  }

  .header {
    margin-bottom: 8rem;
  }

  .main-container,
  .game-container {
    max-width: 100%;
  }

  .rules {
    left: 50%;
    right: unset;
    bottom: -25vh;
    transform: translateX(-50%);
  }
}

@media (max-width: 27em) {
  html {
    font-size: 43.75%;
  }

  body {
    min-height: unset;
  }

  .header {
    align-items: center;
  }

  .score-container {
    height: fit-content;
    padding-bottom: 1.6rem;
  }

  .rules {
    bottom: 4.8rem;
  }

  .modal {
    width: 100%;
    height: 100%;
  }

  .modal-header {
    justify-content: center;
    margin: 8rem 0 12.6rem;
    font-size: 3.2rem;
  }

  .over .user-picked {
    left: 15%;
  }
  .over .scissors-container.user-picked {
    left: unset;
    right: 85%;
  }
  .over .com-picked {
    left: unset;
    left: 85%;
  }

  .modal-close {
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .part.user-picked::after,
  .part.com-picked::after {
    top: unset;
    bottom: -6.4rem;
  }
  .part.com-picked::after {
    width: 19rem;
  }

  .game-results {
    top: unset;
    bottom: -12.6rem;
  }
}

@keyframes resetOpacity {
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  33% {
    transform: translate(-100%, -100%) scale(1.1);
  }
  66% {
    transform: translate(-100%, -100%) scale(0.9);
  }
}
